<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Study Project</title>
        <!-- Favicon-->
        <!--<link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- thymeleaf CSS 적용 -->
        <link rel="stylesheet" data-th-href="@{/css/style.css}" />
    </head>
</head>
<body>
	<div class="d-flex" id="wrapper">
		<th:block th:replace="fragments/sidebar :: sidebar"></th:block>
		<div id="page-content-wrapper">
			<th:block th:replace="fragments/header :: header"></th:block>
			<br>
			<h3 align="center">
				<p th:text="${date}"></p><p>구독 서비스 신청</p>
			</h3>
			<div class="container-fluid" align="center">
				<form th:action="@{/subscribe/add}" th:method="POST">
					<input id="email" name="email" placeholder="이메일 주소">
					<input id="name" name="name" placeholder="이름">
					<button type="submit">신청</button>
				</form>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>
</html>