<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lunch Menu</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" data-th-href="@{/css/style.css}" />
</head>
<body>
	<h1 align="center">점심 메뉴 후보 추가</h1>
	<h2 align="center" data-th-text="${date}"></h2>
	<table class="m-mt30" border="1">
		<tbody align="center">
			<tr>
			<div align="center">
				<form th:action="@{/menu/add/save}" th:method="POST">
					<input type="text" id="input" name="input" placeholder="메뉴 이름">
					<th colspan="4" height="30px">
					<button>저장</button>
					<a data-th-href="@{/}"><button>홈으로</button></a>
				</form>
			</div>
				</th>
			</tr>
		</tbody>
	</table>
</body>
</html>