<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lunch Menu</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" data-th-href="@{/css/style.css}" />
</head>
<body>
	<h1 align="center">점심 메뉴 내역</h1>
	<table class="m-mt30" border="1">
		<thead>
			<tr align="center">
				<th>우선순위</th>
				<th>순번</th>
				<th>메뉴</th>
				<th>가게</th>
				<th>일자</th>
			</tr>
		</thead>
		<tbody align="center">
			<tr data-th-each="vo : ${history}" data-th-if="${history.size() > 0}">
				<td width="100px" data-th-text="${vo.div}"></td>
				<td width="50px" data-th-text="${vo.no}"></td>
				<td width="100px" data-th-text="${vo.nation}"></td>
				<td width="200px" data-th-text="${vo.menu}"></td>
				<td width="200px" data-th-text="${vo.date}"></td>
			</tr>
			<tr>
				<th colspan="5" height="30px">
					<a data-th-href="@{/}"><button>홈으로</button></a>
				</th>
			</tr>
		</tbody>
	</table>
</body>
</html>