<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Lunch Menu</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" data-th-href="@{/css/style.css}" />
	</head>
	<body>
		<div class="m-mt50" align="center">
			<img data-th-src="@{/img/lunch.jpg}" />
		</div>
		<div class="card-body" align="center">
			<div>
				<h1>안녕하세요</h1>
				<h2>점심 선정을 위해 아래 버튼을 눌러주세요 !</h2>
				<h2>3 가지의 추천 메뉴가 나옵니다.</h2>
				<a data-th-href="@{/menu}"><button>메뉴 선정</button></a>
				<a data-th-href="@{/menu/add}"><button>메뉴 추가</button></a>
				<a data-th-href="@{/history}"><button>메뉴 선정 내역</button></a>
			</div>
		</div>
	</body>
</html>