<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Study Project</title>
        <!-- Favicon-->
        <!--<link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- thymeleaf CSS 적용 -->
        <link rel="stylesheet" data-th-href="@{/css/style.css}" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <th:block th:replace="fragments/sidebar :: sidebar"></th:block>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
            	<th:block th:replace="fragments/header :: header"></th:block>
                <!-- Page content-->
                <div class="container-fluid" align="center">
                    <h1 class="mt-4">Hello ! Welcome to My Study Web page</h1><br>
                    <p>KOR) 여기서는 메뉴 추천을 받을 수도 있고, 메뉴 추천 메일을 받을 수 있도록 구독 서비스를 신청할 수도 있습니다.</p>
                    <p>ENG) You can receive menu recommendations here, or you can apply for a subscription service to receive menu recommendation emails.</p>
                    <p>
                        문의사항은 Email과 Discord로 요청부탁드립니다.
                        <p class="text-center">Email : <code>yuog12@gmail.com</code></p>
                        <p class="text-center">Discord ID : <code>22zun#6655</code></p>
                    </p>
                </div>
            </th:block>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
