<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lunch Menu</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" data-th-href="@{/css/style.css}" />
</head>
<body>
	<div class="m-mt50" align="center">
		<img data-th-src="@{/img/lunch.jpg}" />
	</div>
	<h1 align="center">오늘의 점심 메뉴</h1>
	<h2 align="center" data-th-text="${date}"></h2>
	<table class="m-mt30" border="1">
		<thead>
			<tr align="center">
				<th>메뉴</th>
			</tr>
		</thead>
		<tbody align="center">
			<tr data-th-each="vo : ${menu}" data-th-if="${menu.size() > 0}">
				<td width="200px" data-th-text="${vo.menu}"></td>
			</tr>
			<tr>
				<th colspan="4" height="30px">
					<a data-th-href="@{/menu}"><button>새로고침</button></a>
					<a data-th-href="@{/}"><button>홈으로</button></a>
				</th>
			</tr>
		</tbody>
	</table>
</body>
</html>